/* Estiliza o container do formulário */
.receita-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #1e1e2fa8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #f9f9f9;
  }
  
  .receita-form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espaçamento entre os campos */
  }
  
  .receita-form-container form div {
    display: flex;
    flex-direction: column;
  }
  
  .receita-form-container label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .receita-form-container input {
    padding: 12px;
    background-color: #1e1e2fa8;
    border-radius: 4px;
    background-color: #2c2c3a;
    color: #ffffff;
  }
  
  .receita-form-container button {
    padding: 12px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #151e97;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2; /* O botão ocupará toda a largura */
  }
  
  .receita-form-container button:hover {
    background-color: #4caf9e;
  }
  
  /* Estiliza o container */
.receita-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e2fa8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  
  .receita-container p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estiliza a tabela */
  .receita-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #2c2c3a;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .receita-table th,
  .receita-table td {
    padding: 12px;
    border: 1px solid #444;
    text-align: left;
  }
  
  .receita-table th {
    background-color: #151e97;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .receita-table tbody tr:nth-child(even) {
    background-color: #333344;
  }
  
  .receita-table tbody tr:nth-child(odd) {
    background-color: #2c2c3a;
  }
  
  /* Efeito de hover nas linhas */
  .receita-table tbody tr:hover {
    background-color: #3a3a55;
    cursor: pointer;
  }
  
  .total-receita-container {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    color: #37e215; /* Cor verde para destacar */
    padding: 10px;
    background-color: #151e97; /* Cor de fundo suave */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  }